<div class="mt-4">
    <h3>Cập nhật khóa học</h3>
    <form method="POST" action="/courses/{{courses._id}}?_method=PUT">
        <div class="form-group mt-2">
            <label for="Name">Tên khóa</label>
            <input type="text" class="form-control" id="Name" value="{{courses.Name}}" name="Name" placeholder="Enter name courses">
        </div>

        <div class="form-group mt-2">
            <label for="Description">Mô tả</label>
            <textarea class="form-control" id="Description" name="Description" placeholder="Enter description">{{courses.Description}}</textarea>
        </div>

        <div class="form-group mt-2">
            <label for="Image">Hình ảnh</label>
            <input type="text" class="form-control" id="Image" value="{{courses.Image}}" name="Image" placeholder="Enter image">
        </div>

        <div class="form-group mt-2">
            <label for="videoId">Video Id</label>
            <input type="text" class="form-control" id="videoId" value="{{courses.videoId}}" name="videoId" placeholder="Enter videoId">
        </div>

        <button type="submit" class="btn btn-primary mt-2">Update</button>
    </form>
</div>